.home-content {
  padding: 6rem 0 2rem;
  font-family: "Source Sans Pro", sans-serif !important;
  /* color: whitesmoke; */
  /* text-align: left; */
}
.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: left;
}

